---
BasedOnStyle: LLVM
AlignAfterOpenBracket: BlockIndent
AllowShortFunctionsOnASingleLine: InlineOnly
BreakConstructorInitializers: AfterColon
IndentAccessModifiers: true
IndentWidth: 4
PackConstructorInitializers: CurrentLine
PointerAlignment: Left
