/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.log
/config.status
/config.guess
/config.sub
/configure
/configure~
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/.vscode/

.deps/
.libs/
*.a
*.la
*.lo
*.o
