#!/usr/bin/make -f

%:
	dh $@

override_dh_clean:

override_dh_autoreconf:

override_dh_auto_configure:
	dh_auto_configure -- --without-python3

override_dh_buildinfo:

override_dh_binary:
	dh binary --no-buildinfo
