name: linter

on:
  push:

jobs:
  clang-format:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: add llvm 21
      run: |
        wget https://apt.llvm.org/llvm.sh
        chmod +x llvm.sh
        sudo ./llvm.sh 21 all
    - name: clang-format
      run: ./.github/tools/clang-format.sh
