name: perftest

on:
  push:

jobs:
  perftest:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        without-liburing:
        - 
        - --without-liburing
        scheme:
        - file
        - ost
        bs:
        - 4k
        iodepth:
        - 1
        - 2
        numjobs:
        - 1
        include:
        - packages: liburing-dev
          without-liburing:
        - packages: liburing-dev
          scheme: ost
          without-liburing: --without-liburing
        - uri: file:///tmp/objects
          scheme: file
        - uri: ost://127.0.0.1:8080
          scheme: ost


    steps:
    - name: install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libxxhash-dev libtool pkg-config ${{ matrix.packages }}
    - uses: actions/checkout@v4
      with:
        path: librawstor
    - name: install librawstor
      run: |
        pushd .
        cd ./librawstor
        ./autogen.sh
        ./configure --disable-shared --disable-tests ${{ matrix.without-liburing }}
        make -j$(nproc)
        sudo make install
        popd
    - uses: actions/checkout@v4
      if: "${{ matrix.scheme == 'ost' }}"
      with:
        repository: rawstor/rawstor_ost
        path: rawstor_ost
        ref: refs/heads/main
        ssh-key: ${{ secrets.RAWSTOR_OST_TOKEN }}
    - name: (ost) install rawstor_ost
      if: "${{ matrix.scheme == 'ost' }}"
      run: |
        pushd .
        cd ./rawstor_ost
        ./autogen.sh
        ./configure --disable-shared
        make -j$(nproc)
        sudo make install
        popd
    - uses: actions/checkout@v4
      with:
        repository: rawstor/fio
        path: fio
        ref: refs/heads/rawstor
    - name: install fio
      run: |
        pushd .
        cd ./fio
        ./configure
        make -j$(nproc)
        sudo make install
        popd
    - name: (ost) start rawstor_ost
      if: "${{ matrix.scheme == 'ost' }}"
      run: |
        mkdir ${GITHUB_WORKSPACE}/objects
        truncate -s 2G ${GITHUB_WORKSPACE}/objects/01988675-e1e5-7788-9ed4-2f2d30910d23
        ost 8080 ${GITHUB_WORKSPACE}/objects/ &
        sleep 10
    - name: (file) create object
      if: "${{ matrix.scheme == 'file' }}"
      run: |
        object_uri=$(rawstor-cli create --uri=${{ matrix.uri }} --size=1)
        echo "OBJECT_URI=${object_uri}" >> $GITHUB_ENV
    - name: (ost) create object
      if: "${{ matrix.scheme == 'ost' }}"
      run: |
        object_uri=${{ matrix.uri }}/01988675-e1e5-7788-9ed4-2f2d30910d23
        echo "OBJECT_URI=${object_uri}" >> $GITHUB_ENV
    - name: fio
      run: |
        echo "# perftest" >> $GITHUB_STEP_SUMMARY
        echo "## fio ${{ matrix.without-liburing }} ${{ matrix.scheme }}" >> $GITHUB_STEP_SUMMARY
        echo "### bs=${{ matrix.bs }}, iodepth=${{ matrix.iodepth }}, numjobs=${{ matrix.numjobs }}" >> $GITHUB_STEP_SUMMARY
        ./librawstor/.github/tools/fio.sh \
          ${OBJECT_URI} \
          ${{ matrix.bs }} \
          ${{ matrix.iodepth }} \
          ${{ matrix.numjobs }} \
          fio.txt \
          fio.json
        echo \`\`\` >> $GITHUB_STEP_SUMMARY
        cat fio.txt >> $GITHUB_STEP_SUMMARY
        echo \`\`\` >> $GITHUB_STEP_SUMMARY
    - name: (file) remove object
      if: "${{ matrix.scheme == 'file' }}"
      run: rawstor-cli remove --object-uri=${OBJECT_URI}
    - name: (ost) stop rawstor_ost
      if: "${{ matrix.scheme == 'ost' }}"
      run: killall ost
    - uses: actions/checkout@v4
      with:
        repository: rawstor/rawstor_bench
        path: rawstor_bench
        ref: refs/heads/main
        ssh-key: ${{ secrets.RAWSTOR_BENCH_TOKEN }}
    - name: publish
      run: |
        ./librawstor/.github/tools/git-config.sh ./librawstor

        ./rawstor_bench/tools/rawstor-bench-import \
          --prefix=./rawstor_bench \
          --repo=librawstor \
          --name=perftest${{ matrix.without-liburing }}-${{ matrix.scheme }}-${{ matrix.bs }}-${{ matrix.iodepth }}-${{ matrix.numjobs }} \
          --branch="$GITHUB_REF" \
          --commit=$GITHUB_SHA \
          --date="$(date +'%Y-%m-%dT%H:%M:%S%z')" \
          fio \
          fio.txt \
          fio.json

        ./rawstor_bench/tools/rawstor-bench-compile \
          --prefix=./rawstor_bench fio

        ./librawstor/.github/tools/git-commit-and-push.sh \
          ./rawstor_bench \
          "add: perftest ${{ matrix.without-liburing }} ${{ matrix.scheme }} benchmarks"


  perftest-hw-runner:
    needs: perftest

    runs-on: hw-runner

    strategy:
      matrix:
        without-liburing:
        - 
        - --without-liburing
        scheme:
        - file
        - ost
        bs:
        - 4k
        iodepth:
        - 1
        - 2
        numjobs:
        - 1
        include:
        - packages: liburing-dev
          without-liburing:
        - packages: liburing-dev
          scheme: ost
          without-liburing: --without-liburing
        - uri: file:///tmp/objects
          scheme: file
        - uri: ost://127.0.0.1:8080
          scheme: ost


    steps:
    - name: install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libxxhash-dev libtool pkg-config ${{ matrix.packages }}
    - uses: actions/checkout@v4
      with:
        path: librawstor
    - name: cleanup local
      run: rm -rf ./local
    - name: install librawstor
      run: |
        pushd .
        cd ./librawstor
        ./autogen.sh
        ./configure --prefix=${GITHUB_WORKSPACE}/local --disable-shared ${{ matrix.without-liburing }}
        make
        make install
        popd
    - uses: actions/checkout@v4
      if: "${{ matrix.scheme == 'ost' }}"
      with:
        repository: rawstor/rawstor_ost
        path: rawstor_ost
        ref: refs/heads/main
        ssh-key: ${{ secrets.RAWSTOR_OST_TOKEN }}
    - name: (ost) install rawstor_ost
      if: "${{ matrix.scheme == 'ost' }}"
      run: |
        pushd .
        cd ./rawstor_ost
        ./autogen.sh
        ./configure --prefix=${GITHUB_WORKSPACE}/local --disable-shared
        make
        make install
        popd
    - uses: actions/checkout@v4
      with:
        repository: rawstor/fio
        path: fio
        ref: refs/heads/rawstor
    - name: install fio
      run: |
        pushd .
        cd ./fio
        PKG_CONFIG_PATH=${GITHUB_WORKSPACE}/local/lib/pkgconfig ./configure --prefix=${GITHUB_WORKSPACE}/local
        make -j$(nproc)
        make install
        popd
    - name: (ost) start rawstor_ost
      if: "${{ matrix.scheme == 'ost' }}"
      run: |
        mkdir -p ${GITHUB_WORKSPACE}/objects
        truncate -s 2G ${GITHUB_WORKSPACE}/objects/01988675-e1e5-7788-9ed4-2f2d30910d23
        ./local/bin/ost 8080 ${GITHUB_WORKSPACE}/objects/ &
        sleep 10
    - name: (file) create object
      if: "${{ matrix.scheme == 'file' }}"
      run: |
        object_uri=$(./local/bin/rawstor-cli create --uri=${{ matrix.uri }} --size=1)
        echo "OBJECT_URI=${object_uri}" >> $GITHUB_ENV
    - name: (ost) create object
      if: "${{ matrix.scheme == 'ost' }}"
      run: |
        object_uri=${{ matrix.uri }}/01988675-e1e5-7788-9ed4-2f2d30910d23
        echo "OBJECT_URI=${object_uri}" >> $GITHUB_ENV
    - name: fio
      run: |
        echo "# perftest-hw-runner" >> $GITHUB_STEP_SUMMARY
        echo "## fio ${{ matrix.without-liburing }} ${{ matrix.scheme }}" >> $GITHUB_STEP_SUMMARY
        echo "### bs=${{ matrix.bs }}, iodepth=${{ matrix.iodepth }}, numjobs=${{ matrix.numjobs }}" >> $GITHUB_STEP_SUMMARY
        PATH=${GITHUB_WORKSPACE}/local/bin:${PATH} ./librawstor/.github/tools/fio.sh \
          ${OBJECT_URI} \
          ${{ matrix.bs }} \
          ${{ matrix.iodepth }} \
          ${{ matrix.numjobs }} \
          fio.txt \
          fio.json
        echo \`\`\` >> $GITHUB_STEP_SUMMARY
        cat fio.txt >> $GITHUB_STEP_SUMMARY
        echo \`\`\` >> $GITHUB_STEP_SUMMARY
    - name: (file) remove object
      if: "${{ matrix.scheme == 'file' }}"
      run: ./local/bin/rawstor-cli remove --object-uri=${OBJECT_URI}
    - name: (ost) stop rawstor_ost
      if: "${{ matrix.scheme == 'ost' }}"
      run: |
        killall ost
        rm -rf ${GITHUB_WORKSPACE}/objects
