name: perftest

on:
  push:

jobs:
  perftest:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        without-liburing:
        - 
        - --without-liburing
        scheme:
        - file
        - ost
        bs:
        - 4k
        iodepth:
        - 1
        - 2
        numjobs:
        - 1
        include:
        - packages: liburing-dev
          without-liburing:
        - packages: liburing-dev
          scheme: ost
          without-liburing: --without-liburing
        - uri: file:///tmp/objects
          scheme: file
        - uri: ost://127.0.0.1:8080
          scheme: ost


    steps:
    - name: install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libxxhash-dev libtool pkg-config ${{ matrix.packages }}
    - uses: actions/checkout@v4
      with:
        path: librawstor
    - name: install librawstor
      run: |
        pushd .
        cd ./librawstor
        ./autogen.sh
        ./configure --disable-shared --disable-tests ${{ matrix.without-liburing }}
        make -j$(nproc)
        sudo make install
        popd
    - uses: actions/checkout@v4
      if: "${{ matrix.scheme == 'ost' }}"
      with:
        repository: rawstor/rawstor_ost
        path: rawstor_ost
        ref: refs/heads/main
        ssh-key: ${{ secrets.RAWSTOR_OST_TOKEN }}
    - name: (ost) install rawstor_ost
      if: "${{ matrix.scheme == 'ost' }}"
      run: |
        pushd .
        cd ./rawstor_ost
        ./autogen.sh
        ./configure --disable-shared
        make -j$(nproc)
        sudo make install
        popd
    - uses: actions/checkout@v4
      with:
        repository: rawstor/fio
        path: fio
        ref: refs/heads/rawstor
    - name: install fio
      run: |
        pushd .
        cd ./fio
        ./configure
        make -j$(nproc)
        sudo make install
        popd
    - name: (ost) start rawstor_ost
      if: "${{ matrix.scheme == 'ost' }}"
      run: |
        mkdir ${GITHUB_WORKSPACE}/objects
        truncate -s 2G ${GITHUB_WORKSPACE}/objects/01988675-e1e5-7788-9ed4-2f2d30910d23
        ost 8080 ${GITHUB_WORKSPACE}/objects/ &
        sleep 10
    - name: (file) create object
      if: "${{ matrix.scheme == 'file' }}"
      run: |
        object_uri=$(rawstor-cli create --uri=${{ matrix.uri }} --size=1)
        echo "OBJECT_URI=${object_uri}" >> $GITHUB_ENV
    - name: (ost) create object
      if: "${{ matrix.scheme == 'ost' }}"
      run: |
        object_uri=${{ matrix.uri }}/01988675-e1e5-7788-9ed4-2f2d30910d23
        echo "OBJECT_URI=${object_uri}" >> $GITHUB_ENV
    - name: touch
      run: |
        fio \
          --ioengine=librawstor \
          --filename="${OBJECT_URI//:/\\:}" \
          --name=randwrite \
          --iodepth=1 \
          --rw=randwrite \
          --bs=4k \
          --size=512M \
          --numjobs=1 \
          --runtime=10 \
          --time_based
    - name: fio
      run: |
        echo "# perftest" >> $GITHUB_STEP_SUMMARY
        echo "## fio ${{ matrix.without-liburing }} ${{ matrix.scheme }}" >> $GITHUB_STEP_SUMMARY
        echo "### bs=${{ matrix.bs }}, iodepth=${{ matrix.iodepth }}, numjobs=${{ matrix.numjobs }}" >> $GITHUB_STEP_SUMMARY
        ./librawstor/.github/tools/fio.sh \
          ${OBJECT_URI} \
          ${{ matrix.bs }} \
          ${{ matrix.iodepth }} \
          ${{ matrix.numjobs }} \
          fio.txt \
          fio.json
        echo \`\`\` >> $GITHUB_STEP_SUMMARY
        cat fio.txt >> $GITHUB_STEP_SUMMARY
        echo \`\`\` >> $GITHUB_STEP_SUMMARY
    - uses: actions/upload-artifact@v4
      with:
        name: perftest${{ matrix.without-liburing }}-${{ matrix.scheme }}-${{ matrix.bs }}-${{ matrix.iodepth }}-${{ matrix.numjobs }}
        path: |
          ./fio.txt
          ./fio.json
        if-no-files-found: error
    - name: (file) remove object
      if: "${{ matrix.scheme == 'file' }}"
      run: rawstor-cli remove --object-uri=${OBJECT_URI}
    - name: (ost) stop rawstor_ost
      if: "${{ matrix.scheme == 'ost' }}"
      run: killall ost

  export:
    needs: perftest

    runs-on: ubuntu-latest

    steps:
    - uses: actions/download-artifact@v5
      with:
        path: ./perftest
    - uses: actions/checkout@v4
      with:
        path: librawstor
    - uses: actions/checkout@v4
      with:
        repository: rawstor/rawstor_bench
        path: rawstor_bench
        ref: refs/heads/main
        ssh-key: ${{ secrets.RAWSTOR_BENCH_TOKEN }}
    - name: publish
      run: |
        ./librawstor/.github/tools/git-config.sh ./librawstor

        cd ./perftest
        for perftest_name in *; do
          ${GITHUB_WORKSPACE}/rawstor_bench/tools/rawstor-bench-import \
            --prefix=${GITHUB_WORKSPACE}/rawstor_bench \
            --repo=librawstor \
            --name=${perftest_name} \
            --branch="$GITHUB_REF" \
            --commit=$GITHUB_SHA \
            --date="$(date +'%Y-%m-%dT%H:%M:%S%z')" \
            fio \
            ./${perftest_name}/fio.txt \
            ./${perftest_name}/fio.json
          done
        cd ${GITHUB_WORKSPACE}

        ./rawstor_bench/tools/rawstor-bench-compile \
          --prefix=./rawstor_bench fio

        ./librawstor/.github/tools/git-commit-and-push.sh \
          ./rawstor_bench \
          "add: perftest $GITHUB_SHA benchmarks"
